.table
	&__form
		text-align: center
		margin: 20px 0 50px 0
	&__input
		border: 1px solid black
		border-radius: 5px
		width: 300px
		outline: none
		&:focus
			background-color: #ac0e280c
	&__btn
		border: none
		border-radius: 5px
		background-color: #bc4558
		color: #ffffff
	&__text
		padding-top: 10px
	
	&__wrapper
		display: flex
		border: 1px solid grey
	ul
		justify-content: space-around
		text-align: center
		list-style-type: none
		width: 20%
		margin: 0
		padding: 0
		border-right: 1px solid grey
		&:last-child
			border-right: none
	li
		border-bottom: 1px solid grey
		&:last-child
			border-bottom: none
		&:hover
			transition: 800ms all
			background-color: #ac0e28		
			color: #ffffff
	&__title
		display: none
			


		



