// @media (max-width: 2560px) 

// @media (max-width: 1440px) 

// @media (max-width: 1024px) 

// @media (max-width: 768px) 
	
@media all and (max-width: 420px) 
	.table
		&__wrapper
			span
				display: block
				background-color: #bc4558
				color: #ffffff
		&__list
			flex-direction: column
			border: 1px solid black
			width: 60%
			margin: 0 auto
			margin-top: 30px
			font-size: 20px
			&:first-child
				display: none
		&__time
			border-right: none
			width: 100%
		&__item
			border-right: none
			width: 100%
			&:hover
				background-color: #ac0e28
				color: #ffffff
				


			

// @media (max-width: 375px) 

// @media (max-width: 320px) 

	 
